.container {
    max-width: 400px;
    margin-top: 10vh;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
    z-index: 9999;
    position: relative;
background-color: whitesmoke;
}

button {
    height: 100px;
    width: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px;


}

#display {
    background-color: gray;
    width: 400px;
    height: 100px;
    margin: auto;
}

.container button:hover{
    transition: all 0.5s;
    background-color: gray;
    color: white;
}
#display{
    font-size: 2rem;
    color: white;
}
